{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}
{% block content %}

{% if not user_username %}
<p><a href="/auth/login">Login</a></p>
{% endif %}

<ul>
    <li>
        <a href="certificates">Certificates</a>
    </li>
    <li>
        <a href="domains">Domains</a>
    </li>
    {% if user_is_admin and admin_enabled %}
    <li>
        <a href="issue">Issue Certificate</a>
    </li>
    {% endif %}
    <li>
        <a href="endpoints">Endpoints</a>
    </li>
</ul>

<p>ACME Entrypoint: <a href="{{acme_url}}">{{acme_url}}</a></p>

{% endblock %}
